
.top-image {
    margin-top: -17px;
    height: 500px;
    background: url(img/bgtop.png);
    background-position: left; 
    background-size: cover;
}

.btm-image {
    margin-top: -17px;
    height: 400px;
    background: url(img/btmpart.png);
    background-position: left; 
    background-size: cover;
}

.tagname {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: #333;
}

.tag-follow {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.tagbox {
    width: 300px;
    position: absolute;
    margin-top: 200px;
}

.tagbox2 {
    max-width: 400px;
    float: right;
    margin-top: 80px;
}


.centerbox {
    text-align: center;
    max-width: 800px;
    padding: 120px 0;
    margin: auto;
}

.eventnotes {
    position: absolute;
    font-size: 23px;
    line-height: 44px;
    margin: -88px 0 0 44px;
}

#schedule{
    margin-bottom: 100px;
}

.tagbox2 .tag-follow {
    font-size: 24px;
}


@media (max-width: 550px) {

    #schedule{
        margin-bottom: 80px;
    }

    .btm-image {
        height: 180px;
        background-repeat: no-repeat;
    }

    .tagbox2 {
        width: 100%;
        max-width: 100%;
        float: auto;
        margin-top: 190px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 40px;
    }

    .tagbox2 .tag-follow {
        font-size: 20px;
    }

    .eventnotes {
        position: absolute;
        font-size: 18px;
        line-height: 18px;
    }

    .line1{
        margin-top: 18px;
    }
    .line2{
        margin-top: 18px;
    }
}
